html {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #E40066;
  font-family: "Work Sans";
  overflow: hidden;
  color: white;
  align-items: center;
  padding: 10px 20px;
}
ul.navigationbar {
  display: flex;
  list-style: none;
}
ul.navigationbar li {
  margin-right: 20px;
}
ul.navigationbar li a:hover {
  color: #60AFFF;
}
ul.navigationbar li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

body {
  background: white;
  text-align: center;
}
h1 {
  font-family: "Work Sans", serif;
  color: #E40066;
}
p {
  font-family: "Work Sans";
  color: #E40066;
}

button {
  background-color: pink;
  border: 1px solid purple;
  font-family: "Work Sans";
  color: purple;
  transition-duration: 0.4s;
  border-radius: 4px;
  padding: 10px 10px;
}

button:hover {
  background-color: white;
  color: purple;
}

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


img {
  height: 200px;
  padding-right: 10px;
  overflow: hidden;
  border-radius: 25px;
  object-fit: cover;
}

.rowfood {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 200px 200px;
  grid-gap: 10px;
}
.columnfood {
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 200px;
  grid-gap: 10px;
}

.column {
  position: relative;
}

#titlepage {
  font-family: "Work Sans", serif;
  color: #E40066;
  text-decoration: none;
}
